body{margin: 0;  overflow-x: hidden;}
@font-face {
    font-family: 'Alegreya' ;
    src: url(../font/Alegreya/Alegreya.ttf);
}
.text_20p{font-family: 'Alegreya'; font-size: 20px;}
.text_24p{font-family: 'Alegreya'; font-size: 24px;}
.text_32p{font-family: 'Alegreya'; font-size: 32px;}
.text_36p{font-family: 'Alegreya'; font-size: 36px;}
.text_40p{font-family: 'Alegreya'; font-size: 40px;}
.text_48p{font-family: 'Alegreya'; font-size: 48px;}


/* div{border: solid 1px; } */
a{ color: black; text-decoration: none;}

/*начало хедера*/
.hed{width: 1920px; height: 150px; display: flex;}
.logo_hed{width: 341px;height: 147px; margin-top: 10px; margin-left: 145px; background-image: url(./img_o_kompanii/logo_heder.png);}
.knop1{font-family: 'Alegreya'; font-size: 32px; margin-left: 234px; margin-top: 58px;}
.knop2{font-family: 'Alegreya'; font-size: 32px;margin-left: 100px;margin-top: 58px;}
.knop3{font-family: 'Alegreya'; font-size: 32px;margin-left: 100px;margin-top: 58px;}
.knop4{font-family: 'Alegreya'; font-size: 32px; text-align: center; }
.fon_knop4{width: 328px; height: 44px; border-radius: 12px;margin-left: 100px;margin-top: 58px; background-color: #163658;}
.a_kn{color: #FFFFFF;}
/*конец хедера*/

/*начало 1 блока*/
.blok1{width: 100%; height: 672px; display: flex; }
.raz1_blok1{width: 804px; height: 672px;}
.zagol_1{margin-top: 169px;text-align: center;  }
.tex1 {text-align: center;}
.foto_dekor{width: 1059px; height: 562px;z-index: -1; position:absolute; background-image: url(./img_o_kompanii/dekor_img_kopmp\ \(1\).png);
left: 751px; top: 200px;}

/*начало 2 блока*/
.blok_2{display: flex; margin-top: 63px; margin-top: 131px;}
.roditel_kartoch{width: 405px; height: 509px; margin-left: 164px; border: #A0C4D3 solid 2px;border-radius: 10px; }
.zag_kart{margin-top: 83px; text-align: center;}
.tex2{margin-top: 37px; text-align: center;}

/*декор*/
.dek_kryg{border-radius: 50%; background-color: #A0C4D3;}
.kryg1{width: 116px; ; height: 116px;  position: absolute; z-index: -2; top:742px ; left:821px ;}
.kryg2{width: 98px; ; height: 98px; position: absolute; z-index: -2; top:664px ; left: 960px; ;}
.kryg3{width: 154px; height:154px ; position: absolute; z-index: -2; top: 1173px; left:-10px ;}
.kryg4{width:91px ; height: 91px; position: absolute; z-index: -2; top: 1367px; ; left: -30px;}

/*начало футера*/
.fyt{width: 100%; height: 375px; background-color:#A0C4D3; display: flex; margin-top: 260px;}

.blok_1_foot{width: 513px; height: 375px;}
.logo_foot{width: 382px; height: 170px; background-image: url(./img_o_kompanii/logo_footer.png); margin-top: 109px; margin-left: 72px;}
.podpis_foot {text-align: center; margin-top: 20px;}

.blok_2foot{width: 841px; height: 375px; display: flex; flex-wrap: wrap;}
.for_knop_foot{width: 180px; height: 151px; margin-top: 130px; margin-left: 204px;}
.knop_foot1{text-align: center;}

.for_cot-cet_foot{width: 115px; height: 273px; margin-left: 246px; margin-top: 31px;}
.logo_max{width: 70px; height: 70px; background-image: url(./img_o_kompanii/max_logo.png); margin-top: 14px; margin-left: 22px;}
.logo_pocht{width: 72px; height: 54px; background-image: url(./img_o_kompanii/logo_xz.png);  margin-top: 25px; margin-left: 22px;}
.logo_vk{width: 74px; height: 74px; background-image: url(./img_o_kompanii/logo_vk.png); margin-top: 22px; margin-left: 22px;}
.text_foot2{ text-align: center; margin-left: 86px;}

.blok_3foot{width: 562px; height: 375px; }
.karta_foot{margin-left: 45px; margin-top: 83px; width: 473px; height: 163px; background-image: url(./img_o_kompanii/karta.png);}
.fon_knop_foot{width: 328px; height: 44px; border-radius: 12px;margin-left: 125px;margin-top: 31px; background-color: #163658;}
/*конец футера*/